@use '@styles/01-settings/settings.animations' as *;
@use '@styles/02-tools/tools.breakpoint' as *;
@use '@styles/02-tools/tools.pseudo' as fn;

.c-accordion {
  border-radius: 2px;
  width: 100%;
  max-width: 100%;

  &--bordered {
    border: 1px solid var(--acc-border-color);
  }
}

.c-accordion__header-title {
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  color: var(--acc-title-color);
}

.c-accordion__header-text {
  font-weight: 400;
  font-size: 13px;
  line-height: 18px;
  margin-top: 12px;
  color: var(--acc-sub-title-color);
}

.c-accordion__item {
  border-bottom: 1px solid var(--acc-border-color);

  &:focus-within {
    background-color: var(--acc-focus-bg-color);
  }

  &[data-state='open'] {
    outline: none;
  }

  &:last-child {
    border-bottom: none;
  }

  @include media-up(xxs) {
    padding: 8px 8px 8px 0;
  }

  @include media-up(lg) {
    padding: 12px 24px 12px 0;
  }
}

.c-accordion__item-header {
  button {
    @include fn.pseudo(before, 2px, 10px, 4px, null, null, -14px, true, '') {
      background-color: var(--acc-indicator-color);
      transition: $accordion-transition;
      transition-delay: 0.2s;
      opacity: 1;
    }

    @include fn.pseudo(after, 10px, 2px, 8px, null, null, -18px, true, '') {
      transition: $accordion-transition;
      transition-delay: 0.2s;
      position: absolute;
      background-color: var(--acc-indicator-color);
    }
  }

  p {
    font-size: 13px;
    line-height: 18px;
    text-align: justify;
    color: var(--acc-title-color);
  }

  &[data-state='open'] {
    button {
      &::after {
        transform: rotate(90deg);
        opacity: 0;
      }

      &::before {
        transform: rotate(-90deg);
      }
    }
  }
}

.c-accordion__item-content {
  margin-top: 12px;
  overflow: hidden;

  &[data-state='open'] {
    animation: slideDown 300ms ease-out;
  }
  &[data-state='closed'] {
    animation: slideUp 300ms ease-out;
  }

  > p {
    font-weight: 400;
    font-size: 12px;
    color: var(--acc-text-color);

    @include media-up(xxs) {
      line-height: 22px;
    }

    @include media-up(lg) {
      line-height: 17px;
    }
  }
}

@keyframes slideDown {
  from {
    height: 0;
  }
  to {
    height: var(--radix-accordion-content-height);
  }
}

@keyframes slideUp {
  from {
    height: var(--radix-accordion-content-height);
  }
  to {
    height: 0;
  }
}
