@use '@styles/01-settings/settings.animations' as *;
@use '@styles/01-settings/setting.sizing' as *;
@use '@styles/02-tools/tools.flex' as *;

.c-link-label {
  @include flex-center-vertical;
  display: inline-flex;
  background-color: var(--link-label-bg-color);
  color: var(--link-label-text-color);
  border: 1px solid var(--link-label-border-color);
  border-radius: 2px;
  padding: 0 12px;
  font-weight: 400;
  font-size: 10px;
  transition: background-color $button-hover-time ease-in;

  &--xs {
    height: map-get($btn-height, xs);
  }

  &--sm {
    height: map-get($btn-height, sm);
  }

  &:hover {
    border: 1px solid transparent;
    background-color: var(--link-label-hover-color);
  }

  i {
    font-size: 16px;
    margin-right: 8px;
  }
}
