@use '@styles/01-settings/settings.animations' as *;
@use '@styles/01-settings/setting.sizing' as *;
@use '@styles/02-tools/tools.flex' as *;

.c-sec-label {
  @include flex-center-vertical;
  width: 100%;
  cursor: pointer;
  border-radius: 2px;
  padding: 0 12px;
  font-weight: 400;
  font-size: 13px;
  transition: all $button-hover-time ease-in;
  color: var(--secondary-label-text-color);
  border: 1px solid var(--secondary-label-border-color);

  &--sm {
    height: map-get($btn-height, sm);
  }

  &--md {
    height: map-get($btn-height, md);
  }

  &:hover {
    color: var(--secondary-label-text-hover-color);
    border: 1px solid var(--secondary-label-border-hover-color);
  }

  i {
    font-size: 16px;
    margin-left: 8px;
  }
}
